<div id="tab-exibicao" class="tab-pane hidden">
  <div class="settings-group">
    <div class="settings-row">
      <label>Barra de conta</label>
      <label class="toggle">
        <input type="checkbox" id="setting-show-account-bar" />
        <span class="toggle-slider"></span>
      </label>
    </div>
    <div class="settings-row">
      <label data-i18n="showDailyChartLabel">Gráfico semanal</label>
      <label class="toggle">
        <input type="checkbox" id="setting-show-daily-chart" />
        <span class="toggle-slider"></span>
      </label>
    </div>
    <div class="settings-row">
      <label data-i18n="showExtraBarsLabel">Barras de créditos / Sonnet</label>
      <label class="toggle">
        <input type="checkbox" id="setting-show-extra-bars" />
        <span class="toggle-slider"></span>
      </label>
    </div>
    <div class="settings-row">
      <label data-i18n="showFooterLabel">Rodapé de atualização</label>
      <label class="toggle">
        <input type="checkbox" id="setting-show-footer" />
        <span class="toggle-slider"></span>
      </label>
    </div>
    <div class="settings-row">
      <label data-i18n="showInTaskbarLabel">Mostrar na barra de tarefas</label>
      <label class="toggle">
        <input type="checkbox" id="setting-show-in-taskbar" />
        <span class="toggle-slider"></span>
      </label>
    </div>
  </div>
</div>